* {
    margin: 0;
    padding: 0;
    
}
h1 {
    padding-left: 30px;
    padding: 2px;
    color: crimson;
    font-family: "Times New Roman", Times, serif;
}

input {
    font-family: "lucida console", Courier, monospace;
    border-radius: 25px;
    background-color:blanchedalmond;
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.anchor {
    color:darkcyan;
    font-size: 19px;
    font-family: fantasy;
    letter-spacing: 0.05em;
    
}
.anchor, hover {
    text-decoration: none;
}
.forgot {
    color:darksalmon;
    font-family:cursive;
    font-size: 19px;
    
}
.img {
    
    background-size: 100%;
    
}
.signup {
    padding-left: 40px;
}
.signin{
    padding-left: 80px;
}
button {
    font-family: sans-serif;
    margin-right: inherit;
}

.row {
    margin-top: 50px;
}
}
@media screen and (min-width:1024px){
    .row{
        margin-top: 150px;
    }
}
